body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

noscript{

    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    border: 5px solid red;
    background-color: rgb(255, 106, 106);
}


nav {
    margin-top: 40px; 
}
nav ul{
    
    padding: 0;
    text-align: center;
    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */
}

nav li {
    list-style: none;
    display: inline;
    
}

a {
    text-decoration: none;
    
}

.services, .competences{
    text-align: center;
    margin: 15px auto 0 auto;
}



.presentation{
   margin-top: 50px; 
   
}
.presentation img {
    width: 200px;
}

h1, h2, h3 {
    text-align: center;
}

.presentation p{
    margin-top: 20px; 
}

figcaption{
    
    font-style: italic;
}


article {
    margin-top: 50px; 
}


article p {
    margin-top: 20px;
}


.main-articles {
    
}
aside{
    
    
    width: 20%;
    float: right;
    padding-left: 20px;
    margin-left: 20px;
    box-shadow: 5px 0 5px -5px inset #000000;
    font-style: italic;
    
}



.portfolio{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
}

.gallery figcaption {
    float: right;
    
}



.thumb {
    text-align: center;
    width: 360px;
    height: 267px;
    margin: 0 auto 0 auto;
   
  }
  
  .thumb img {
    padding:10px;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



.contact{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    

}

button{
    margin-top: 5px;
}


footer {
    margin-top: 30px;
    padding-top: 20px;
    background-color: rgb(245, 245, 245);
    width: 100%;
}

footer p {
    margin-top: 20px;
   
}


@media only screen and (min-width: 700px) {


  
    p{
        text-align: center;
        margin: 0 auto 0 auto;
        padding: 10px;
        /* width: 900px; */
    }


    aside{
        width: 10%;
       
    } 

    .portfolio{
        /* display: flex; */
        flex-direction: row;
       
    }

    .img{
        width: 200px;
        margin: 0 auto 0 auto;
    }
    .avatar{
        margin: 0 auto 0 auto;
    }

    figure {
        width: 200px;
    }




}


