body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

noscript{

    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    border: 5px solid red;
    background-color: rgb(255, 106, 106);
}


nav {
    margin-top: 40px; 
}
nav ul{
    
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav li {
    list-style: none;
    display: inline;
    
}

nav li a {
    text-decoration: none;
    
}


.presentation{
   margin-top: 50px; 
   
}

h1, h2, h3 {
    text-align: center;
}

.presentation p{
    margin-top: 20px; 
}

figcaption{
    text-align: right;
    font-style: italic;
}


article {
    margin-top: 50px; 
}


article p {
    margin-top: 20px;
}

aside{
    width: 40%;
    float: right;
    padding-left: 20px;
    margin-left: 20px;
    box-shadow: 5px 0 5px -5px inset #000000;
    font-style: italic;
    
}

.portfolio{
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}


.card{

    text-align: center;
    width: 400px;
    
    border-radius: 5px;
}

.card img {
    width: 300px;
}

.contact{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 5px;
}


footer {
    margin-top: 20px;
}


@media only screen and (min-width: 700px) {


  


    .portfolio{
        /* display: flex; */
        flex-direction: row;
       
    }
    

}


